project/UnitTests/WebDashboard/Plugins/BuildReport/XmlReportActionSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Projects">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Project" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
						<xs:attribute name="activity" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="Sleeping"/>
									<xs:enumeration value="Building"/>
									<xs:enumeration value="CheckingModifications"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="lastBuildStatus" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="Exception"/>
									<xs:enumeration value="Success"/>
									<xs:enumeration value="Failure"/>
									<xs:enumeration value="Unknown"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="lastBuildLabel" type="xs:NMTOKEN" use="required"/>
						<xs:attribute name="lastBuildTime" type="xs:dateTime" use="required"/>
						<xs:attribute name="nextBuildTime" type="xs:dateTime" use="required"/>
						<xs:attribute name="webUrl" type="xs:string" use="required"/>
						<xs:attribute name="category" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
